.showConteiner {
    text-align: justify;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showTitle {
}
.showBody {
    width: 90%;
}
